.vault-password
.venv/
*.retry
inventories/*/vault.yml
inventories/*/vault.yaml
inventories/*/group_vars/vault.yml
inventories/*/group_vars/vault.yaml
inventories/*/group_vars/all/vault.yml
inventories/*/group_vars/all/vault.yaml
inventories/*/vault.yaml
.venv
.vscode/
