[defaults]
inventory = inventories/dev/hosts.yml
roles_path = roles
host_key_checking = True
interpreter_python = auto_silent
retry_files_enabled = False
stdout_callback = default

[privilege_escalation]
become = True
become_method = sudo

[ssh_connection]
pipelining = True
