# Managed by Ansible. Local changes will be overwritten.
http://127.0.0.1:{{ item.port }} {
    root * {{ item.frontend_root }}
    @frontend_assets path /assets/*
    header @frontend_assets Cache-Control "public, max-age=31536000, immutable"
    @frontend_non_assets not path /assets/*
    header @frontend_non_assets Cache-Control "no-cache"
    try_files {path} /index.html
    file_server
}
