# Managed by Ansible from inventory {{ inventory_hostname }}.
{% set prefix = jenkins_environment_name | upper %}
ORGANIZERS_{{ prefix }}_DB_USER={{ postgres_organizers_user }}
ORGANIZERS_{{ prefix }}_DB_PASSWORD={{ postgres_organizers_password }}

PLATFORM_{{ prefix }}_DB_USER={{ postgres_platform_user }}
PLATFORM_{{ prefix }}_DB_PASSWORD={{ postgres_platform_password }}
