# Managed by Ansible from inventory {{ inventory_hostname }}.
{% set prefix = (jenkins_config_application | upper) ~ '_' ~ (jenkins_environment_name | upper) %}
{{ prefix }}_SSH_HOST={{ ansible_host }}
{{ prefix }}_SSH_PORT={{ ansible_port }}
{{ prefix }}_SSH_USER={{ ansible_user }}
{{ prefix }}_SSH_SUDO_USER={{ binturo_user }}

{% if jenkins_config_application == 'organizers' %}
{{ prefix }}_BACKEND_DIR={{ binturo_root }}/apps/backend-organizers
{{ prefix }}_MAINTENANCE_DIR={{ caddy_maintenance_dir }}
{{ prefix }}_STAFF_FRONTEND_DIR={{ binturo_frontend_roots.organizers_staff }}
{{ prefix }}_TRAINER_FRONTEND_DIR={{ binturo_frontend_roots.organizers_trainer }}
{{ prefix }}_CLIENT_FRONTEND_DIR={{ binturo_frontend_roots.organizers_client }}
{{ prefix }}_VENV_DIR={{ binturo_root }}/apps/backend-organizers/venv

{{ prefix }}_BINTURO_STAFF_APP_URL=https://{{ binturo_domains.organizers }}/staff
{{ prefix }}_BINTURO_TRAINER_APP_URL=https://{{ binturo_domains.organizers }}/trainer
{{ prefix }}_BINTURO_CLIENT_APP_URL=https://{{ binturo_domains.organizers }}/client
{{ prefix }}_BINTURO_PLATFORM_APP_URL=https://{{ binturo_domains.platform }}

{{ prefix }}_BINTURO_BACKEND_LISTEN_PORT={{ binturo_ports.organizers }}
{{ prefix }}_BINTURO_PLATFORM_SCHEMA={{ postgres_initial_schema }}
{{ prefix }}_BINTURO_USERS_SCHEMA={{ postgres_users_schema }}

{{ prefix }}_BINTURO_DB_HOST={{ postgres_host_bind_address }}
{{ prefix }}_BINTURO_DB_PORT={{ postgres_host_port }}
{{ prefix }}_BINTURO_DB_NAME={{ postgres_database }}
{{ prefix }}_BINTURO_DB_SCHEMA={{ postgres_organizers_schema }}
{{ prefix }}_BINTURO_DB_POOL_SIZE={{ organizers_db_pool_size }}
{{ prefix }}_BINTURO_DB_MAX_OVERFLOW={{ organizers_db_max_overflow }}
{{ prefix }}_EMAIL_CLIENT={{ organizers_email_client }}
{{ prefix }}_MAILERSEND_FROM_EMAIL={{ organizers_mailersend_from_email }}
{{ prefix }}_MAILERSEND_FROM_NAME={{ organizers_mailersend_from_name }}
{{ prefix }}_SMTP_HOST={{ organizers_smtp_host }}
{{ prefix }}_SMTP_PORT={{ organizers_smtp_port }}
{{ prefix }}_SMTP_FROM_EMAIL={{ organizers_smtp_from_email }}
{{ prefix }}_SMTP_FROM_NAME={{ organizers_smtp_from_name }}
{{ prefix }}_SMTP_USE_TLS={{ organizers_smtp_use_tls | bool | lower }}
{{ prefix }}_SMTP_USE_SSL={{ organizers_smtp_use_ssl | bool | lower }}
{{ prefix }}_SMTP_ROUTED_DOMAINS={{ organizers_smtp_routed_domains }}
{% else %}
{{ prefix }}_BACKEND_DIR={{ binturo_root }}/apps/backend-platform
{{ prefix }}_FRONTEND_DIR={{ binturo_frontend_roots.platform }}
{{ prefix }}_VENV_DIR={{ binturo_root }}/apps/backend-platform/venv

{{ prefix }}_BINTURO_PLATFORM_APP_URL=https://{{ binturo_domains.platform }}
{{ prefix }}_BINTURO_PLATFORM_API_URL=https://{{ binturo_domains.platform }}
{{ prefix }}_BINTURO_STAFF_APP_URL=https://{{ binturo_domains.organizers }}/staff

{{ prefix }}_BINTURO_PLATFORM_BACKEND_LISTEN_PORT={{ binturo_ports.platform }}
{{ prefix }}_BINTURO_PLATFORM_SCHEMA={{ postgres_initial_schema }}
{{ prefix }}_BINTURO_USERS_SCHEMA={{ postgres_users_schema }}

{{ prefix }}_BINTURO_PLATFORM_DB_HOST={{ postgres_host_bind_address }}
{{ prefix }}_BINTURO_PLATFORM_DB_PORT={{ postgres_host_port }}
{{ prefix }}_BINTURO_PLATFORM_DB_NAME={{ postgres_database }}
{{ prefix }}_EMAIL_CLIENT={{ platform_email_client }}
{{ prefix }}_MAILERSEND_FROM_EMAIL={{ platform_mailersend_from_email }}
{{ prefix }}_MAILERSEND_FROM_NAME={{ platform_mailersend_from_name }}
{{ prefix }}_SMTP_HOST={{ platform_smtp_host }}
{{ prefix }}_SMTP_PORT={{ platform_smtp_port }}
{{ prefix }}_SMTP_FROM_EMAIL={{ platform_smtp_from_email }}
{{ prefix }}_SMTP_FROM_NAME={{ platform_smtp_from_name }}
{{ prefix }}_SMTP_USE_TLS={{ platform_smtp_use_tls | bool | lower }}
{{ prefix }}_SMTP_USE_SSL={{ platform_smtp_use_ssl | bool | lower }}
{{ prefix }}_SMTP_ROUTED_DOMAINS={{ platform_smtp_routed_domains }}
{% endif %}
