# Managed by Ansible from inventory {{ inventory_hostname }}.
{% set prefix = jenkins_environment_name | upper %}
ORGANIZERS_{{ prefix }}_DB_USER={{ postgres_organizers_user }}
ORGANIZERS_{{ prefix }}_DB_PASSWORD={{ postgres_organizers_password }}
ORGANIZERS_{{ prefix }}_JWT_SECRET={{ organizers_jwt_secret }}
ORGANIZERS_{{ prefix }}_MAILERSEND_API_KEY={{ organizers_mailersend_api_key }}

PLATFORM_{{ prefix }}_DB_USER={{ postgres_platform_user }}
PLATFORM_{{ prefix }}_DB_PASSWORD={{ postgres_platform_password }}
PLATFORM_{{ prefix }}_JWT_SECRET={{ platform_jwt_secret }}
PLATFORM_{{ prefix }}_MAILERSEND_API_KEY={{ platform_mailersend_api_key }}
