# Managed locally by Ansible. Non-secret Jenkins configuration.
{% set prefix = (jenkins_config_application | upper) ~ '_' ~ (jenkins_config_environment | upper) %}
{{ prefix }}_SSH_HOST={{ jenkins_config.ssh_host }}
{{ prefix }}_SSH_PORT={{ jenkins_config.ssh_port }}
{{ prefix }}_SSH_USER={{ jenkins_config.ssh_user }}
{{ prefix }}_SSH_SUDO_USER={{ jenkins_config.ssh_sudo_user }}

{% if jenkins_config_application == 'organizers' %}
{{ prefix }}_BACKEND_DIR={{ jenkins_config.organizers_backend_dir }}
{{ prefix }}_FRONTEND_DIR={{ jenkins_config.organizers_frontend_dir }}
{{ prefix }}_VENV_DIR={{ jenkins_config.organizers_venv_dir }}

{{ prefix }}_BINTURO_APP_URL=https://{{ jenkins_config.organizers_domain }}
{{ prefix }}_BINTURO_API_URL=https://{{ jenkins_config.organizers_domain }}
{{ prefix }}_BINTURO_PLATFORM_APP_URL=https://{{ jenkins_config.platform_domain }}

{{ prefix }}_BINTURO_BACKEND_LISTEN_PORT={{ jenkins_backend_ports.organizers }}
{{ prefix }}_BINTURO_PLATFORM_SCHEMA={{ jenkins_database.platform_schema }}

{{ prefix }}_BINTURO_DB_HOST={{ jenkins_database.host }}
{{ prefix }}_BINTURO_DB_PORT={{ jenkins_database.port }}
{{ prefix }}_BINTURO_DB_NAME={{ jenkins_config.database_name }}
{{ prefix }}_BINTURO_DB_SCHEMA={{ jenkins_database.organizers_schema }}
{% else %}
{{ prefix }}_BACKEND_DIR={{ jenkins_config.platform_backend_dir }}
{{ prefix }}_FRONTEND_DIR={{ jenkins_config.platform_frontend_dir }}
{{ prefix }}_VENV_DIR={{ jenkins_config.platform_venv_dir }}

{{ prefix }}_BINTURO_PLATFORM_APP_URL=https://{{ jenkins_config.platform_domain }}
{{ prefix }}_BINTURO_PLATFORM_API_URL=https://{{ jenkins_config.platform_domain }}
{{ prefix }}_BINTURO_APP_URL=https://{{ jenkins_config.organizers_domain }}

{{ prefix }}_BINTURO_PLATFORM_BACKEND_LISTEN_PORT={{ jenkins_backend_ports.platform }}
{{ prefix }}_BINTURO_PLATFORM_SCHEMA={{ jenkins_database.platform_schema }}

{{ prefix }}_BINTURO_PLATFORM_DB_HOST={{ jenkins_database.host }}
{{ prefix }}_BINTURO_PLATFORM_DB_PORT={{ jenkins_database.port }}
{{ prefix }}_BINTURO_PLATFORM_DB_NAME={{ jenkins_config.database_name }}
{% endif %}
