# Managed locally by Ansible. Contains secrets; never commit this file.
JENKINS_ADMIN_PASSWORD={{ vault_jenkins_admin_password }}
JENKINS_ADMIN_USER={{ jenkins_admin_user }}
JENKINS_URL={{ jenkins_url }}
JENKINS_REPO_URL={{ jenkins_repository_url }}

{% for environment in jenkins_local_environment_names %}
{% set prefix = environment | upper %}
ORGANIZERS_{{ prefix }}_DB_USER={{ jenkins_database.organizers_user }}
ORGANIZERS_{{ prefix }}_DB_PASSWORD={{ vault_jenkins_environments[environment].organizers_db_password }}
ORGANIZERS_{{ prefix }}_JWT_SECRET={{ vault_jenkins_environments[environment].organizers_jwt_secret }}

PLATFORM_{{ prefix }}_DB_USER={{ jenkins_database.platform_user }}
PLATFORM_{{ prefix }}_DB_PASSWORD={{ vault_jenkins_environments[environment].platform_db_password }}
PLATFORM_{{ prefix }}_JWT_SECRET={{ vault_jenkins_environments[environment].platform_jwt_secret }}

{% endfor %}
