apiVersion: 1
prune: true
datasources:
{% for source in central_monitoring_sources.keys() %}
  - name: Prometheus {{ source }}
    uid: prometheus-{{ source }}
    type: prometheus
    access: proxy
    url: http://prometheus-{{ source }}:9090
    isDefault: {{ 'true' if loop.first else 'false' }}
{% endfor %}
